
/* * {
    color: #594F9F;
    color: #547980;
    color: #45ADA8;
    color: #9DE0AD;
    color: #E5FCC2;

    background-image: radial-gradient(rgb(255, 102, 0), #ff9d00, rgb(244, 255, 195), rgb(157, 199, 224), #45ADA8);
} */

/* 
.hidden {
    display: absolute;
    position: fixed;
    left: 100%;

} */

body {
    box-sizing: border-box;
    object-fit: contain;
    background-color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.bg-fixed {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV */

nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 150px;
}

nav:hover a {
    background-color: rgb(255, 255, 255);
}

nav a {
    position: relative;
    right: -100px;
    background: #ccc;
    height: 10px;
    width: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
}

nav a:hover {
    border-color: transparent;
    background-color: rgb(247, 115, 8);
}

nav a span {
    display: none;
    color: #ccc;
    font-size: 80%;
    position: relative;
    text-align: right;
    top: -2px;
    right: 50px;
    padding: 5px;

}

nav a:hover span {
    display: inline;
    background-color: rgb(247, 115, 8);
    color: white;
    right: 100px;
}

/* END NAV */

h1 {
    /* color: #111; */
    color: rgb(247, 115, 8);
    font-weight: 900;
    padding: 0;
    margin: 0;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-weight: 900;
    font-size: 25pt;
/*  */
}
.scrollDown {
    background: url("scrollUp1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    bottom: -60px;
    height: 35px;
    width: 100%;
    margin: 0;
    transition: 1s, background-color 5s;
    transform: rotate(180deg);
}
.scrollDown.show {
    bottom: 100px;
    transition: 1s, background-color 0;
}
 
h2 {
    background: rgba(255, 255, 255, .8);
    padding: 8%;
    margin: 0;
    max-height: 40vh;
    text-align: center;
}

.about, .portfolio, .projects {
    background-color: white;
    color: #222;
    min-height: 75vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.about {
    background-image: url("img2.jpg");
}

.portfolio {
    background-image: url("img3.jpg");
}
.projects {
    background-image: url("img4.jpg");
}

.portfolio-more:hover {
    background-color: rgba(247, 115, 8, .8);
    cursor: pointer;
    color: white;
}

/* PORTFOLIO FULLVIEW */

.portfolio-fullview {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: -100vw;
    width: 90vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .8);
    transition: 1s;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    overflow: scroll;
}
.portfolio-fullview.show {
    left: 0;
}
.portfolio-h2 {
    background-color: rgb(247, 115, 8);
    color: white;
    letter-spacing: 2pt;
}
.portfolio-icon.show
{
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    background: url("exit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(247, 115, 8);
    background-size: 80%;
} 
.project-board, .project-board1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 40px;
    text-align: left;
}
.project-board1 {
    z-index: 0;

}
.project-board2 {
    z-index: 11;

}
.project {
    padding: 0;
    margin: 0 0 50px;
    object-fit: contain;
    overflow: hidden;
    color: black; 
}
.project-img {
    background-color: rgb(247, 115, 8);
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
}
.project-img img {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.project-board1 .project-img img {
    z-index: 2;

}
.project-board2 .project-img img {
    z-index: 13;

}
.project-img p, .project-img a {
    /* z-index: 9; */

    display: block;
    position: relative;
    top: -300px;
    padding: 5px 20px;
    margin: 0;
    width: 100%;
    height: 100%;
}
.project-board1 p, .project-board1 a {
    z-index: 1;
}
.project-board2 .project-img p, .project-board2 .project-img a {
    z-index: 12;

}
.project-img p {
    color: white;
    letter-spacing: 2pt;
    margin-bottom: 100px;
}
.project-img a {
    display: inline;
    text-decoration: none;
    letter-spacing: 1pt;
    color: rgba(255, 255, 255, .6);
}

.project-img a:hover {
    color: rgba(255, 255, 255, 1);
}
.project-img:hover img {
    left: 100%;
    transition: 1s;
}

/* END FULLVIEW */

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.contact h2 {
    background-color: rgb(247, 115, 8);
    color: white; 
    width: 100%;
}
.social-group {
    display: flex;
    justify-content: space-around;
    width: 25%;
    padding: 0;
    margin: 0;
}
.social {
    position: relative;
    bottom: 90px;
    padding: 0;
    margin: 2px 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: none;
}
.social:hover {
    margin: 0;
    height: 52px;
    width: 52px;
}

.twitter {
    background-image: url("social-tw.png");
}

.facebook {
    background-image: url("social-fb.png");

}

.linkedin {
    background-image: url("social-li.png");
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    height: 50px;
    width: 98%;

    color: #333;
}
footer span {
    font-size: 80%;
    font-weight: 100;
    color: #777;
    letter-spacing: 2pt;
    padding-left: 10px;
}

.scrollToTop {
    position: fixed;
    bottom: -60px;
    left: 10px;
    height: 35px;
    width: 35px;
    transition: 1s, background-color 5s;
    background-color: rgb(247, 115, 8);
    border-radius: 50px;
    cursor: pointer;
}
.scrollToTop.show {
    bottom: 10px;
    background-color: transparent;
    transition: 1s, background-color 0;

}
